[Unit]
Description=Erlang Port Mapper Daemon

[Service]
EnvironmentFile=/etc/conf.d/epmd
ExecStart=/opt/zextras/common/lib/erlang/bin/epmd -daemon $EPMD_OPTS
ExecStop=/opt/zextras/common/lib/erlang/bin/epmd -kill
Type=forking

[Install]
WantedBy=multi-user.target
