[Unit]
Description=Carbonio message broker
Requires=network-online.target
After=network.target epmd@0.0.0.0.socket
Wants=network.target epmd@0.0.0.0.socket

[Service]
Type=notify
User=carbonio-message-broker
Group=carbonio-message-broker
UMask=0027
NotifyAccess=all
TimeoutStartSec=600
LimitNOFILE=32768
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/opt/zextras/common/bin/rabbitmq-server
ExecStop=/opt/zextras/common/bin/rabbitmqctl shutdown
SuccessExitStatus=69
Environment=PATH=/opt/zextras/common/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
