[Unit]
Description=Carbonio message broker daemon
Requires=network-online.target
After=network.target epmd@0.0.0.0.socket
Wants=network.target epmd@0.0.0.0.socket
PartOf=carbonio.target

[Service]
Type=notify
User=carbonio-message-broker
Group=carbonio-message-broker
UMask=0027
NotifyAccess=all
TimeoutStartSec=600
LimitNOFILE=32768
Restart=on-failure
RestartSec=10
WorkingDirectory=/var/lib/carbonio-message-broker
ExecStart=/opt/zextras/common/bin/rabbitmq-server
ExecStop=/opt/zextras/common/bin/rabbitmqctl shutdown
SuccessExitStatus=69
Environment=PATH="/opt/zextras/common/bin:/opt/zextras/common/lib/erlang/bin:/usr/bin"
Environment=RABBITMQ_CONF_ENV_FILE="/etc/carbonio/message-broker/rabbitmq-env.conf"

[Install]
WantedBy=multi-user.target
